<div class="tournament-display">
  <div *ngFor="let round of rounds; let i = index">
    <h4>Games round {{i + 1}}</h4>
    <table>
      <thead>
        <tr>
          <th>Player 1</th>
          <th>Player 2</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of round">
          <td>{{game.player1.name}}
            <span *ngIf="game.player1.score">- {{game.player1.score}}</span>
          </td>
          <td>{{game.player2.name}}
            <span *ngIf="game.player2.score">- {{game.player2.score}}</span>
          </td>
          <td>{{game.done ? 'Finished': 'Open'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
