<table class="table table-striped" multiple>
  <tr>
    <th>Name</th>
    <th>Player 1</th>
    <th>Player 2</th>
    <th>Status</th>
    <th>Start</th>
    <th>End time</th>
    <th *ngIf="showEditButton">&nbsp;</th>
  </tr>
  <tr *ngFor="let game of games">
    <td>{{game.name}}</td>
    <td>{{game.player1.name}}</td>
    <td>{{game.player2.name}}</td>
    <td>{{game.status | gamestatus}}</td>
    <td>{{game.start | date:'short'}}</td>
    <td>{{game.end | date:'shortTime'}}</td>
    <td *ngIf="showEditButton" class="action-buttons">
      <button class="btn btn-success" (click)="onClickEdit(game)">Edit</button>
    </td>
  </tr>
</table>
